.actionGroup {
  display: flex;
  gap: 16px;
  justify-content: end;
  min-width: 210px;
}

.listContainer {
  display: flex;
  max-width: 700px;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.filterContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.linkBtn {
  align-self: flex-start;
}
