.commentContainer {
  display: flex;
  padding: 16px 0px;
  justify-content: space-between;
}

.commentInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.replyContainer {
  display: flex;
  padding: 6px 0px 0px 10%;
  justify-content: space-between;
  & span {
    font-size: 12px;
  }
}
